<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>lineadecodigo_javaee</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Ejemplo de mi primer Servlet</description>
    <display-name>MiPrimerServlet</display-name>
    <servlet-name>MiPrimerServlet</servlet-name>
    <servlet-class>com.lineadecodigo.javaee.servlet.MiPrimerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiPrimerServlet</servlet-name>
    <url-pattern>/MiPrimerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerIP</display-name>
    <servlet-name>ObtenerIP</servlet-name>
    <servlet-class>com.lineadecodigo.javaee.servlet.ObtenerIP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerIP</servlet-name>
    <url-pattern>/ObtenerIP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerXForwardedFor</display-name>
    <servlet-name>ObtenerXForwardedFor</servlet-name>
    <servlet-class>com.lineadecodigo.javaee.servlet.ObtenerXForwardedFor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerXForwardedFor</servlet-name>
    <url-pattern>/ObtenerXForwardedFor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParametrosInicio</display-name>
    <servlet-name>ParametrosInicio</servlet-name>
    <servlet-class>com.lineadecodigo.javaee.servlet.ParametrosInicio</servlet-class>
    <init-param>
      <description>Nivel de grabación de Logs</description>
      <param-name>NivelLog</param-name>
      <param-value>DEBUG</param-value>
    </init-param>
    <init-param>
      <description>Número de peticiones a aceptar</description>
      <param-name>NumeroPeticiones</param-name>
      <param-value>8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParametrosInicio</servlet-name>
    <url-pattern>/ParametrosInicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Ejemplo que recibe parámetros vía GET</description>
    <display-name>RecibirParametros</display-name>
    <servlet-name>RecibirParametros</servlet-name>
    <servlet-class>com.lineadecodigo.javaee.servlet.RecibirParametros</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecibirParametros</servlet-name>
    <url-pattern>/RecibirParametros</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RespuestaXML</display-name>
    <servlet-name>RespuestaXML</servlet-name>
    <servlet-class>com.lineadecodigo.javaee.servlet.RespuestaXML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RespuestaXML</servlet-name>
    <url-pattern>/RespuestaXML</url-pattern>
  </servlet-mapping>
</web-app>